body{
  font-size: 120%;
  padding-top: 100px;
}

/* language display */
.English{
  display: none;
}

.Chinese{
  display: none;
}

.Japanese{
  display: block;
}

/* navbar */
.nav{
  position: relative;
}

@media only screen and (min-width: 769px){
  .nav-link{
    padding: .5rem 2rem;
  }
}

@media only screen and (max-width: 651px){
  body{
    padding-top: 25px;
  }
  .nav-link{
    font-size:55%;
    padding: .5rem .5rem;
  }
}

.nav-light .nav-item .nav-link{
  color: #000;
}

.nav-light .nav-item .nav-link:hover, .nav-light .nav-item .nav-link:focus{
  color: #AAA;
}

.dropdown-item:active{
  background: #AAA;
}

/* container */
.main-con{
  padding-top: 75px;
  padding-bottom: 70px;
}

.odd-con{
  background-color: #EEE;
}

.last-con{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 5px;
}

.inner-con{
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
}

.first-inner-con{
  margin-right: auto;
  margin-left: auto;
  max-width: 1100px;
}

/* link */
.custom-link:hover, .custom-link:focus{
  text-decoration: none;
}

/* indent lines (from second line) */
.indent{
  text-indent: -1em;
  padding-left: 1em;
}

/* large font */
.title{
  font-size: large;
}

/* list icon */
#edu-icon{
  list-style-position: inside;
  list-style-image: url(resources/images/book.svg);
}

/* icon with link */
.icon{
  color: #000;
}

.icon:hover, .icon:focus{
  color: #000;
}

/* deal none font awesome icon */
.bili{
  margin-top: -1em;
  margin-left: 0.1em;
}

/* round image */
.img-round{
  border-radius: 50%;
}

/* scroll to top botton */
#pageTop{
  display: none;
  position: fixed;
  bottom: 60px;
  right: 25px;
}

#pageTop a{
  display: block;
  z-index: 999;
  color: #888;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

#pageTop a:hover{
  text-decoration: none;
  opacity: 0.7;
}
